.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  position: relative;
  width: 22rem;
  height: 80vh;
  max-height: 20rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #cd772d;
  font-weight: 900;
  animation: fadeIn 6s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  80% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.element {  
  display: flex;
  align-items: center;
  padding: 1em 0;
  width: 100%;
}

.element p em {
  opacity: 0.5;
}

