.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  position: relative;
  width: 22rem;
  height: 80vh;
  max-height: 20rem;
  margin-top: -1em;
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #cd772d;
  font-weight: 900;
  animation: fadeIn 6s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  80% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.element {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2em 0;
  width: 100%;
}

.element em {
  //opacity: 0.5;
  font-size: 0.6em;
  margin-bottom: -0.12em;
  letter-spacing: 0;
  color: #a59980;
}

